/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

nav div.container-fluid {
    background: #05131E;
}

nav div a.navbar-brand {
    color: white;
}

body {
    background-color: #1D2D3C;
    color: white;
    height: 110vh;
}

form.class-form {
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    border: 1px solid #333;
    padding: .8em;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}

div.card {
    width: 400px;
    max-width: 400px;
    color: white;
}

.card {
    background-color: #10202F;
    color: white;
}

ul.list-group, li.list-group-item {
    background-color: #10202F;
    color: white;
    border: none;
}